{% include 'title.html'%}
<nav class="navbar navbar-expand-lg bg-warning ">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link " href="/ahome">Home<span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link " href="/addCategory">Add Category<span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link " href="/viewCategories">View Categories<span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link " href="/addPlace">Add Places<span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link " href="/viewPlaces">View Places<span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link " href="/viewHosts">View Hosts<span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link " href="/logout">Logout<span class="sr-only"></span></a>
      </li>

    </ul>
  </div>
</nav>
